In [ ]:
from functools import reduce

Q1] Write program using lambda function to display odd numbers from the given the list.

In [ ]:
sequence = [10,25,4,21,3,15]
final_list = list(filter(lambda x: (x % 2 != 0), sequence))
print(final_list)

[25, 21, 3, 15]

Q2] Write program using lambda function to display addition of all numbers from the given the list.

In [ ]:
sequence = [10,25,4,21,3,15]
final_list = reduce(lambda x,y:x+y,sequence)
print(final_list)

78

Q3] Write program using lambda function to Multiply all the elements from the given list by 5.

In [ ]:
sequence = [10,25,4,21,3,15]
filtered_result = map (lambda x: x*5, sequence)
print(list(filtered_result))

[50, 125, 20, 105, 15, 75]

Q4] Write program using lambda function to display numbers divisible by 9 from the given the list.

In [ ]:
sequence = [10,25,4,21,3,15]
filtered_result = filter (lambda x: x%9==0, sequence)
print(list(filtered_result))

[]

Q5] Write a Python program to sort a list of tuples using Lambda.
Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)].

In [ ]:
sequence = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
sorted_list = sorted(sequence, key=lambda x: x[1])
print(sorted_list)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

Q6] Write a Python program to find the intersection of two given arrays using Lambda
Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]
[1, 2, 4, 8, 9]
Intersection of the said arrays: [1, 2, 8, 9]

In [ ]:
a = [1, 2, 3, 5, 7, 8, 9, 10]
b = [1, 2, 4, 8, 9]
intersection = list(filter(lambda x: x in a, b))
print(intersection)

[1, 2, 8, 9]

Q7]     7. Write a Python program to count the even and odd numbers in each array of integers using Lambda.
 Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]
Number of even numbers in the above array: 3
Number of odd numbers in the above array: 5.

In [ ]:
a = [1, 2, 3, 5, 7, 8, 9, 10]
even_count = len(list(filter(lambda x: x % 2 == 0, a)))
odd_count = len(list(filter(lambda x: x % 2 != 0, a)))
print("Number of even numbers in the above array:",even_count)
print("Number of odd numbers in the above array: ",odd_count)

Number of even numbers in the above array: 3
Number of odd numbers in the above array:  5

Q8] Write a Python program to add two given lists using map and lambda.
Original list:
[1, 2, 3]
[4, 5, 6]
Result: after adding two list
[5, 7, 9]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

result = list(map(lambda x, y: x + y, a, b))
print(result)

[5, 7, 9]